<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klasse Objekt EJS Training</title>
</head>
<body>
    <H2>Rechteck</H2>
    <p>Breite: <%= breite%></p>
    <p>Länge: <%= laenge%></p>

    <H2>Schüler</H2>
    <p>Geschlecht: <%= geschlecht%></p>
    <p>Alter: <%= alter%></p>

    <H2>Auto</H2>
    <p>Sitze: <%= sitze%></p>
    <p>Marke: <%= marke%></p>

    <H2>Fußballer</H2>
    <p>Mannschaft: <%= mannschaft%></p>
    <p>Vorname: <%=  vorname%></p>
   
   
</body>
</html>